<section class="videos__questions">
  <div class="videos__questions__wrapper">
    <h1 class="videos__questions__title">
      {{ post.get_field('questions_title') }}
    </h1>

    <ul class="videos__questions__list">
      {% for question in post.get_field('questions_list') %}
        <li class="videos__questions__item">
          <a class="videos__questions__link" href="#question-{{ loop.index }}">
            {{ loop.index}}. {{ question.post.get_field('videos_title') }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <div class="videos__questions__articles">
      {% for question in post.get_field('questions_list') %}
        <article id="question-{{ loop.index }}" class="videos__questions__article">
          <h2 class="videos__questions__article__title">
            {{ loop.index}}. {{ question.post.get_field('videos_title') }}
          </h2>

          <div class="videos__questions__article__content">
            <p class="videos__questions__article__description">
              {{ question.post.get_field('videos_description') }}
            </p>

            <a class="videos__questions__article__link" href="{{ question.post.link }}">
              {{ question.post.get_field('videos_more') }}
            </a>
          </div>
        </article>

        {% if loop.index == 5 %}
          <article class="videos__aside__ceo">
            <figure class="videos__aside__ceo__media">
              <img class="videos__aside__ceo__media__image" src="{{ post.get_field('aside_ceo_image') }}">
            </figure>

            <div class="videos__aside__ceo__content">
              <h2 class="videos__aside__ceo__title">
                {{ post.get_field('aside_ceo_title') }}
              </h2>

              <p class="videos__aside__ceo__description">
                {{ post.get_field('aside_ceo_description') }}
              </p>

              <a class="videos__aside__ceo__link" href="{{ post.get_field('aside_ceo_link').url }}">
                {{ post.get_field('aside_ceo_link').title }}
              </a>
            </div>
          </article>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
