<section class="home__approach">
  <div class="home__approach__wrapper">
    <div class="home__approach__columns">
      <div class="home__approach__column">
        <article class="home__approach__case">
          <div class="home__approach__case__media">
            <img class="home__approach__case__image" data-src="{{ post.get_field('approach_case_image') | resize(1100) }}">
          </div>

          <div class="home__approach__case__content">
            <p class="home__approach__case__description">
              {{ post.get_field('approach_case_description') }}
            </p>

            <a class="home__approach__case__link" href="{{ post.get_field('approach_case_link').url }}">
              {{ post.get_field('approach_case_link').title }}
            </a>
          </div>
        </article>
      </div>

      <div class="home__approach__column">
        <h2 class="home__approach__title">
          {{ post.get_field('approach_title') }}
        </h2>

        <p class="home__approach__description">
          {{ post.get_field('approach_description') }}
        </p>

        <a class="home__approach__button" href="{{ post.get_field('approach_link').url }}">
          <div class="home__approach__button__background"></div>

          <div class="home__approach__button__box">
            {{ post.get_field('approach_link').title }}
          </div>
        </a>
      </div>
    </div>

    <article class="home__approach__internal">
      <h2 class="home__approach__internal__title">
        <span class="home__approach__internal__title__text">
          {{ post.get_field('approach_internal_title') }}
        </span>
      </h2>

      <br>

      <div class="home__approach__internal__box">
        <div class="home__approach__internal__media">
          <img class="home__approach__internal__image" data-src="{{ post.get_field('approach_internal_image') | resize(1100) }}">
        </div>

        <div class="home__approach__internal__content">
          <p class="home__approach__internal__description">
            {{ post.get_field('approach_internal_description') }}
          </p>

          <a class="home__approach__internal__link" href="{{ post.get_field('approach_internal_link').url }}">
            {{ post.get_field('approach_internal_link').title }}
          </a>
        </div>
      </div>
    </article>
  </div>
</section>
