<section class="home__partners">
  <div class="home__partners__wrapper">
    <header class="home__partners__header">
      <h2 class="home__partners__title">
        {{ post.get_field('partners_title') }}
      </h2>

      <p class="home__partners__description">
        {{ post.get_field('partners_description') }}
      </p>

      <a class="home__partners__button" href="{{ post.get_field('partners_button').url }}">
        <div class="home__partners__button__background"></div>

        <div class="home__partners__button__box">
          {{ post.get_field('partners_button').title }}
        </div>
      </a>
    </header>
  </div>

  <div class="home__partners__wrapper">
    <div class="home__partners__list">
      {% for item in post.get_field('partners_list') %}
        <article class="home__partners__item">
          <a class="home__partners__item__wrapper" href="{{ item.link.url }}">
            <div class="home__partners__item__box">
              <img class="home__partners__item__image" data-src="{{ item.image }}">

              <div class="home__partners__item__content">
                <h2 class="home__partners__item__title" data-height=".home__partners__item__title">
                  {{ item.title }}
                </h2>

                <p class="home__partners__item__description" data-height=".home__partners__item__description">
                  {{ item.description }}
                </p>

                <div class="home__partners__item__link">
                  <span class="home__partners__item__link__text">
                    {{ item.link.title }}
                  </span>

                  <svg class="home__partners__item__link__arrow" viewBox="0 0 22 15" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 7.5H20.5M20.5 7.5L14 1M20.5 7.5L14 14" stroke="#17238F"/>
                  </svg>
                </div>
              </div>
            </div>
          </a>
        </article>
      {% endfor %}
    </div>
  </div>

  <div class="home__partners__wrapper home__partners__wrapper--testimonials">
    <div class="home__partners__testimonials">
      <div class="home__partners__testimonials__wrapper">
        {% for testimonial in post.get_field('partners_testimonials') %}
          <article class="home__partners__testimonial">
            <div class="home__partners__testimonial__wrapper">
              <figure class="home__partners__testimonial__media">
                <img class="home__partners__testimonial__media__image" data-src="{{ testimonial.image }}">
              </figure>

              <div class="home__partners__testimonial__content">
                <p class="home__partners__testimonial__description">
                  {{ testimonial.description }}
                </p>

                <div class="home__partners__testimonial__author">
                  <p class="home__partners__testimonial__author__column">
                    <strong class="home__partners__testimonial__author__title">
                      {{ testimonial.author }}
                    </strong>

                    <span class="home__partners__testimonial__author__description">
                      {{ testimonial.role }}
                    </span>
                  </p>

                  <div class="home__partners__testimonial__author__column">
                    <img class="home__partners__testimonial__author__image" data-src="{{ testimonial.company }}">
                  </div>
                </div>
              </div>
            </div>
          </article>
        {% endfor %}
      </div>

      <div class="home__partners__testimonials__navigation">
        <button class="home__partners__testimonials__navigation__button home__partners__testimonials__navigation__button--previous">
          Previous
        </button>

        <button class="home__partners__testimonials__navigation__button home__partners__testimonials__navigation__button--next">
          Next
        </button>
      </div>

      <div class="home__partners__testimonials__pagination">
        {% for testimonial in post.get_field('partners_testimonials') %}
          <button class="home__partners__testimonials__pagination__button" data-index="{{ loop.index0 }}">
            {{ loop.index0 }}
          </button>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
