<section class="how__secret">
  <div class="how__secret__wrapper">
    <div class="how__secret__media">
      {% if isMobile %}
        <img class="how__secret__image" data-src="{{ post.get_field('secret_image_phone') }}">
      {% else %}
        <img class="how__secret__image" data-src="{{ post.get_field('secret_image_desktop') }}">
      {% endif %}
    </div>

    <div class="how__secret__content">
      <header class="how__secret__header">
        <h2 class="how__secret__title">
          {{ post.get_field('secret_title') }}
        </h2>

        <p class="how__secret__description">
          {{ post.get_field('secret_description') }}
        </p>
      </header>

      <article class="how__secret__highlight">
        <figure class="how__secret__highlight__media">
          <img class="how__secret__highlight__image" data-src="{{ post.get_field('secret_highlight_image') }}">
        </figure>

        <div class="how__secret__highlight__content">
          <p class="how__secret__highlight__description">
            {{ post.get_field('secret_highlight_description') }}
          </p>

          <a class="how__secret__highlight__link" href="{{ post.get_field('secret_highlight_link').url }}">
            {{ post.get_field('secret_highlight_link').title }}
          </a>
        </div>
      </article>
    </div>
  </div>
</section>
