{% if isPhone %}
  <section class="how__testimonials">
    <div class="how__testimonials__wrapper">
      {% for testimonial in post.get_field('testimonials') %}
        <article class="how__testimonial how__testimonial--{{ loop.index }}">
          <div class="how__testimonial__wrapper">
            <div class="how__testimonial__box">
              <figure class="how__testimonial__media">
                <img class="how__testimonial__media__image" data-src="{{ testimonial.image | resize(660) }}">
              </figure>

              <div class="how__testimonial__content">
                <p class="how__testimonial__description">
                  {{ testimonial.description }}
                </p>

                <div class="how__testimonial__author">
                  <p class="how__testimonial__author__column">
                    <strong class="how__testimonial__author__title">
                      {{ testimonial.author }}
                    </strong>

                    <span class="how__testimonial__author__description">
                      {{ testimonial.role }}
                    </span>
                  </p>

                  <div class="how__testimonial__author__column">
                    <img class="how__testimonial__author__image" data-src="{{ testimonial.company }}">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      {% endfor %}
    </div>

    <div class="how__testimonials__navigation">
      <button class="how__testimonials__navigation__button how__testimonials__navigation__button--previous">
        Previous
      </button>

      <button class="how__testimonials__navigation__button how__testimonials__navigation__button--next">
        Next
      </button>
    </div>

    <div class="how__testimonials__pagination">
      {% for testimonial in post.get_field('testimonials') %}
        <button class="how__testimonials__pagination__button" data-index="{{ loop.index0 }}">
          {{ loop.index0 }}
        </button>
      {% endfor %}
    </div>
  </section>
{% endif %}
