{% extends 'base.twig' %}

{% block content %}
  <div class="error">
    <div class="error__content">
      <div class="error__content__wrapper">
        <div class="error__content__columns">
          <div class="error__content__column">
            <p class="error__content__number">
              404
            </p>

            <h1 class="error__content__title">
              {{ option[locale ~ '_404_title'] }}
            </h1>

            <p class="error__content__description">
              {{ option[locale ~ '_404_description'] }}
            </p>

            <div class="error__content__buttons">
              {% for button in option[locale ~ '_404_links'] %}
                <a class="error__content__button" href="{{ button.link.url }}">
                  <div class="error__content__button__background"></div>

                  <div class="error__content__button__box">
                    {{ button.link.title }}
                  </div>
                </a>
              {% endfor %}
            </div>
          </div>

          <div class="error__content__column">
            <img class="error__content__image" data-src="{{ option['404_image'] }}">
          </div>
        </div>
      </div>
    </div>

    {% include 'shared/footer.twig' %}
  </div>
{% endblock %}
