{% extends 'base.twig' %}

{% block content %}
  <div class="press">
    <section class="press__about">
      <div class="press__about__wrapper">
        <h1 class="press__about__title">
          {{ post.title }}
        </h1>

        <figure class="press__about__media">
          <img class="press__about__media__image" data-src="{{ post.thumbnail.src }}">
        </figure>

        <div class="press__about__description">
          {{ post.content }}
        </div>

        <a class="press__about__button" href="{{ post.get_field('button').url }}">
          <div class="press__about__button__background"></div>

          <div class="press__about__button__box">
            {{ post.get_field('button').title }}
          </div>
        </a>
      </div>
    </section>

    {% include 'shared/footer.twig' %}
  </div>
{% endblock %}
