<section class="how__highlights">
  <div class="how__highlights__wrapper">
    <div class="how__highlights__list">
      {% for highlight in post.get_field('highlights') %}
        <article class="how__highlights__item">
          <div class="how__highlights__item__wrapper">
            <img class="how__highlights__item__image" data-src="{{ highlight.image | resize(500) }}">

            <p class="how__highlights__item__description" data-height=".how__highlights__item__description">
              {{ highlight.description }}
            </p>

            <p class="how__highlights__item__author">
              <strong>{{ highlight.author }}</strong><br>
              {{ highlight.role }}
            </p>

            <img class="how__highlights__item__logo" data-src="{{ highlight.company }}">
          </div>
        </article>
      {% endfor %}
    </div>

    <div class="how__highlights__pagination">
      {% for highlight in post.get_field('highlights') %}
        <button class="how__highlights__pagination__button" data-index="{{ loop.index0 }}">
          {{ loop.index0 }}
        </button>
      {% endfor %}
    </div>
  </div>
</section>
