<section class="about__daily">
  <header class="about__daily__header">
    <h2 class="about__daily__title">
      {{ post.get_field('daily_title') }}
    </h2>

    <p class="about__daily__description">
      {{ post.get_field('daily_description') }}
    </p>

    <div class="about__daily__buttons">
      {% for item in post.get_field('daily_links') %}
        <a class="about__daily__button about__daily__button--{{ loop.index }}" href="{{ item.link.url }}">
          <div class="about__daily__button__background"></div>

          <div class="about__daily__button__box">
            {{ item.link.title }}
          </div>
        </a>
      {% endfor %}
    </div>
  </header>

  <div class="about__daily__gallery">
    {% for image in post.get_field('daily_gallery') %}
      <figure class="about__daily__gallery__media">
        <img class="about__daily__gallery__image" data-src="{{ image | resize(1366) }}">
      </figure>
    {% endfor %}
  </div>
</section>
