<header class="about__header">
  <div class="about__header__background"></div>

  <div class="about__header__wrapper">
    <h1 class="about__header__title">
      {{ post.title }}
    </h1>

    <p class="about__header__description">
      {{ post.content | striptags }}
    </p>

    <nav class="about__header__list">
      {% for link in post.get_field('header_list') %}
        <a class="about__header__link" href="{{ link.url }}">
          {{ link.title }}
        </a>
      {% endfor %}
    </nav>

    <figure class="about__header__media">
      <img class="about__header__media__image"  data-src="{{ post.thumbnail.src | resize(1366) }}">

      <button class="about__header__media__button" data-embed-video="{{ post.get_field('header_vimeo') }}">
        Play
      </button>
    </figure>
  </div>
</header>
