<section class="about__team">
  <div class="about__team__wrapper">
    <header class="about__team__header">
      <h2 class="about__team__title">
        {{ post.get_field('team_title') }}
      </h2>

      <p class="about__team__description">
        {{ post.get_field('team_description') }}
      </p>
    </header>

    <div class="about__team__list">
      {% for member in post.get_field('team_list') %}
        <div class="about__team__item">
          <figure class="about__team__item__media">
            <img class="about__team__item__image" data-src="{{ member.image | resize(200) }}">
          </figure>

          <div class="about__team__item__content">
            <p class="about__team__item__title">
              {{ member.title }}
            </p>

            <p class="about__team__item__description">
              {{ member.description }}
            </p>
          </div>

          <article class="about__team__article">
            <button class="about__team__article__close">
              Close
            </button>

            <div class="about__team__article__columns">
              <div class="about__team__article__column">
                <figure class="about__team__article__media">
                  <img class="about__team__article__media" data-src="{{ member.image | resize(400) }}">
                </figure>
              </div>

              <div class="about__team__article__column">
                <h2 class="about__team__article__title">
                  {{ member.title }}
                </h2>

                <p class="about__team__article__description">
                  {{ member.description }}
                </p>

                <p class="about__team__article__emojis">
                  {{ member.emoji }}
                </p>
              </div>
            </div>

            <div class="about__team__article__content">
              {{ member.content }}
            </div>
          </article>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
