{{ function('do_shortcode', '[elementor-template id="8105"]') }}


  <div class="post__content__wrapper" id="cst_post_content" >
  
  <div class="cst_post_content_social" >
       {{ function('do_shortcode', '[elementor-template id="8140"]') }}
</div>

    {% if locale == 'en' %}
      <p class="post__content__translation">
        <strong>This post was automatically translated for convenience purposes.</strong>
      </p>
    {% elseif locale == 'fr' %}
      <p class="post__content__translation">
        <strong>Cet article a été traduit automatiquement pour des raisons de commodité.</strong>
      </p>
    {% endif %}

    {{ post.content }}
    <br>
    
<h3 style="text-align: center;">Download PDF {{ function('do_shortcode', '[print_posts pdf="yes" word="no" print="no"]') }} </h3>
  </div>
    

  {{ function('do_shortcode', '[elementor-template id="8134"]') }}