<section class="question__archive">
  <div class="question__archive__wrapper">
    <h2 class="question__archive__title">
      {{ option[locale ~ '_questions_related'] | replace({ '{service}': parent.title }) }}
    </h2>

    <div class="question__archive__list">
      {% for case in cases %}
        <article class="question__archive__case">
          <div class="question__archive__case__media">
            <img class="question__archive__case__image" data-src="{{ case.thumbnail.src | resize(800) }}">
          </div>

          <div class="question__archive__case__content">
            <p class="question__archive__case__description">
              {{ case.title }}
            </p>

            <a class="question__archive__case__link" href="{{ case.link }}">
              {{ option[locale ~ '_read_more'] }}
            </a>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
</section>
