<section class="question__header">
  <div class="question__header__wrapper">
    <h1 class="question__header__title">
      {{ post.title }}
    </h1>

    <div class="question__header__box">
      <div class="question__header__content">
        {{ post.content }}

        <div class="question__header__footer">
          <a class="question__header__button question__header__button--external" href="{{ option[locale ~ '_questions_link_external'].url }}">
            <div class="question__header__button__background"></div>

            <div class="question__header__button__box">
              {{ option[locale ~ '_questions_link_external'].title }}
            </div>
          </a>

          <a class="question__header__button question__header__button--internal" href="{{ option[locale ~ '_questions_link_internal'].url }}">
            <div class="question__header__button__background"></div>

            <div class="question__header__button__box">
              {{ option[locale ~ '_questions_link_internal'].title }}
            </div>
          </a>

          <a class="question__header__button" href="{{ option[locale ~ '_questions_link'].url }}">
            <div class="question__header__button__background"></div>

            <div class="question__header__button__box">
              {{ option[locale ~ '_questions_link'].title }}
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
