<section class="service__testimonial">
  <div class="service__testimonial__wrapper">
    <figure class="service__testimonial__media">
      <img class="service__testimonial__media__image" data-src="{{ post.get_field('testimonial_image') }}">
    </figure>

    <p class="service__testimonial__description">
      {{ post.get_field('testimonial_description') }}
    </p>

    <div class="service__testimonial__author">
      <p class="service__testimonial__author__content">
        <strong class="service__testimonial__author__name">
          {{ post.get_field('testimonial_author') }}
        </strong>

        {{ post.get_field('testimonial_role') }}
      </p>

      <div class="service__testimonial__author__company">
        <img class="service__testimonial__author__company__image" data-src="{{ post.get_field('testimonial_company') }}">
      </div>
    </div>
  </div>
</section>
