<section class="industry__topics">
  <div class="industry__topics__wrapper">
    <div class="industry__topics__articles">
      {% for topic in post.get_field('topics_list') %}
        <article class="industry__topics__article">
          <p class="industry__topics__article__number">
            {{ loop.index }}
          </p>

          <h3 class="industry__topics__article__title" data-height=".industry__topics__article__title">
            {{ topic.title }}
          </h3>

          <div class="industry__topics__article__description">
            {{ topic.description }}
          </div>
        </article>
      {% endfor %}
    </div>

    <footer class="industry__topics__footer">
      <a class="industry__topics__button" href="{{ post.get_field('topics_button').url }}">
        <div class="industry__topics__button__background"></div>

        <div class="industry__topics__button__box">
          {{ post.get_field('topics_button').title }}
        </div>
      </a>
    </footer>
  </div>
</section>
