<aside class="services__aside__newsletter">
  <div class="services__aside__newsletter__wrapper">
    <div class="services__aside__newsletter__columns">
      <div class="services__aside__newsletter__column">
        <img class="services__aside__newsletter__image" data-src="{{ post.get_field('aside_newsletter_image') }}">
      </div>

      <div class="services__aside__newsletter__column">
        <h2 class="services__aside__newsletter__title">
          {{ post.get_field('aside_newsletter_title') }}
        </h2>
      </div>

      <div class="services__aside__newsletter__column">
        <form
          class="services__aside__newsletter__form"
          data-id="{{ option['form_newsletter'] }}"
          data-success-title="{{ option[locale ~ '_form_newsletter_messages'].success_title }}"
          data-success-description="{{ option[locale ~ '_form_newsletter_messages'].success_description }}"
          data-error-title="{{ option[locale ~ '_form_newsletter_messages'].error_title }}"
          data-error-description="{{ option[locale ~ '_form_newsletter_messages'].error_description }}"
        >
          <!-- Fields filled by FormFiller.js class -->
          <input class="submission-value__language" name="language" type="hidden" value="">
          <input class="submission-value__country" name="country" type="hidden" value="">
          <input class="submission-value__referrer" name="referrer" type="hidden" value="">
          <input class="submission-value__utm_source" name="utm_source" type="hidden" value="">
          <input class="submission-value__utm_medium" name="utm_medium" type="hidden" value="">
          <input class="submission-value__utm_campaign" name="utm_campaign" type="hidden" value="">
          <input class="submission-value__utm_content" name="utm_content" type="hidden" value="">
          <input class="submission-value__utm_term" name="utm_term" type="hidden" value="">

          <input class="services__aside__newsletter__input" name="email" placeholder="{{ post.get_field('aside_newsletter_email') }}" type="text">

          <button class="services__aside__newsletter__button">
            <div class="services__aside__newsletter__button__background"></div>

            <div class="services__aside__newsletter__button__box">
              {{ post.get_field('aside_newsletter_button') }}
            </div>
          </button>
        </form>
      </div>
    </div>
  </div>
</aside>
