<div class="services__sections">
  {% for section in post.get_field('sections_list') %}
    <section class="services__section services__section--{{ loop.index }}">
      <div class="services__section__wrapper">
        <header class="services__section__header">
          <div class="services__section__columns">
            <div class="services__section__column">
              <figure class="services__section__media">
                <img class="services__section__media__image" data-src="{{ section.image }}">
              </figure>
            </div>

            <div class="services__section__column">
              <h2 class="services__section__title">
                {{ section.title }}
              </h2>

              <div class="services__section__description">
                {{ section.description | wpautop }}
              </div>
            </div>
          </div>
        </header>

        <div class="services__section__box">
          <a class="services__section__button" href="{{ section.button.url }}">
            <div class="services__section__button__background"></div>

            <div class="services__section__button__box">
              {{ section.button.title }}
            </div>
          </a>
        </div>

        {% if isDesktop or isTablet %}
          <div class="services__section__articles">
            {% for article in articles[loop.index0] %}
              <article class="services__section__article">
                <figure class="services__section__article__media">
                  <img class="services__section__article__media__image" data-src="{{ article.thumbnail.src | resize(800) }}">
                </figure>

                <div class="services__section__article__content">
                  <h2 class="services__section__article__title">
                    {{ article.title }}
                  </h2>

                  <p class="services__section__article__description">
                    {{ article.post_content | truncate(50) }}
                  </p>

                  <footer class="services__section__article__footer">
                    <a class="services__section__article__link" href="{{ article.link }}">
                      {{ option[locale ~ '_read_more'] }}
                    </a>
                  </footer>
                </div>
              </article>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    </section>
  {% endfor %}
</div>
