<section class="industry__cases">
  <div class="industry__cases__wrapper">
    {% for article in post.get_field('cases_list') %}
      <article class="industry__cases__article">
        <p class="industry__cases__article__label">
          {{ article.post.terms('industry')[0].name }}
        </p>

        <figure class="industry__cases__article__media">
          <img class="industry__cases__article__media__image" src="{{ article.post.thumbnail.src }}">
        </figure>

        <div class="industry__cases__article__content">
          <h2 class="industry__cases__article__title">
            {{ article.post.title }}
          </h2>

          {{ article.post.get_field('introduction') }}

          <footer class="industry__cases__article__footer">
            <a class="industry__cases__article__link" href="{{ article.post.link }}">
              {{ option['en_read_more'] }}
            </a>
          </footer>
        </div>
      </article>
    {% endfor %}
  </div>
</section>
