<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__columns">
      <div class="footer__column">
        <h2 class="footer__title">
          {{ option[locale ~ '_footer_title'] }}
        </h2>

        <a class="footer__button" href="{{ option[locale ~ '_footer_button'].url }}">
          <div class="footer__button__background"></div>

          <div class="footer__button__box">
            {{ option[locale ~ '_footer_button'].title }}
          </div>
        </a>
      </div>

      {% for column in option[locale ~ '_footer_columns'] %}
        <div class="footer__column">
          <a href="{{ column.title.url }}">
            <h3 class="footer__subtitle">
              {{ column.title.title }}
            </h3>
          </a>

          <ul class="footer__list">
            {% for item in column.list %}
              <li class="footer__list__item">
                <a href="{{ item.link.url }}">
                  {{ item.link.title }}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endfor %}
    </div>

    <div class="footer__columns">
      <div class="footer__column">
        <div class="footer__social">
          <h2 class="footer__social__title">
            {{ option[locale ~ '_footer_social_title'] }}
          </h2>

          <ul class="footer__social__list">
            {% for network in option['footer_social_list'] %}
              <li class="footer__social__item">
                <a href="{{ network.link }}" rel="noopener" target="_blank">
                  <img class="footer__social__image" data-src="{{ network.icon }}">
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="footer__column">
        <p class="footer__copyright">
          &copy; {{ now | date('Y') }} Cleverclip GmbH
        </p>
      </div>
    </div>
  </div>
</footer>

<div id="language" class="footer__language">
  <div class="footer__language__wrapper">
    <a href="{{ site.link }}" class="footer__language__logo">
      <svg class="footer__language__logo__media" viewBox="0 0 173 34" xmlns="http://www.w3.org/2000/svg">
        <path d="M45.8461 22.7457C46.6508 22.7457 47.4227 22.5262 48.065 22.18C48.8697 21.7393 50.1872 21.5502 50.992 22.3371C51.8934 23.2185 51.7639 24.8225 50.7018 25.5451C49.3515 26.489 47.6453 26.9922 45.8442 26.9922C41.5341 26.9922 37.6089 24.0357 37.6089 19.4127V19.3181C37.6089 14.6951 41.5341 11.7368 45.8442 11.7368C47.6453 11.7368 49.3497 12.24 50.7018 13.1838C51.7639 13.9083 51.8916 15.5123 50.992 16.3919C50.1872 17.1788 48.8697 16.9897 48.065 16.5489C47.4208 16.2028 46.649 15.9833 45.8461 15.9833C43.9154 15.9833 42.1782 17.2733 42.1782 19.3181V19.4127C42.1782 21.4574 43.9154 22.7457 45.8461 22.7457Z" />
        <path d="M58.7455 24.9171C58.7455 26.0179 57.7163 26.8673 56.4937 26.8673C55.3039 26.8673 54.2747 25.9858 54.2419 24.9171V5.82378C54.2747 4.75502 55.3039 3.8736 56.4937 3.8736C57.7163 3.8736 58.7455 4.7229 58.7455 5.82378V24.9171Z" />
        <path d="M74.5719 25.6718C73.0591 26.6478 71.1613 26.9922 69.3931 26.9922C65.0829 26.9922 61.5447 23.9411 61.5447 19.3181C61.5447 14.6951 65.0829 11.7368 69.3931 11.7368C73.6722 11.7368 77.081 14.82 77.081 19.443C77.081 20.2299 76.4058 20.7955 75.6978 20.7955H66.0154C66.2399 22.4941 68.1377 23.2167 69.7143 23.2167C70.6157 23.2167 71.3876 23.1542 72.3201 22.5244C73.3493 21.8321 74.508 22.0212 75.1503 22.7439C75.9879 23.6895 75.6667 25.042 74.5719 25.6718ZM72.5774 18.0602C72.3529 16.267 71.0975 15.3874 69.4241 15.3874C67.7508 15.3874 66.4643 16.2046 66.0793 18.0602H72.5774Z" />
        <path d="M88.0424 25.0116C87.5917 26.175 86.7888 26.8673 85.5662 26.8673H85.3728C84.183 26.8673 83.2816 26.175 82.7998 25.0116L78.2634 14.5684C77.8766 13.5621 78.4879 12.24 79.5827 11.9581C80.9988 11.6119 81.9951 12.2418 82.382 13.216L85.4385 21.1416L88.495 13.216C88.849 12.24 89.8782 11.6119 91.2942 11.9581C92.3873 12.2418 92.9986 13.5621 92.6135 14.5684L88.0424 25.0116Z" />
        <path d="M106.925 25.6718C105.413 26.6478 103.515 26.9922 101.747 26.9922C97.4365 26.9922 93.8982 23.9411 93.8982 19.3181C93.8982 14.6951 97.4365 11.7368 101.747 11.7368C106.026 11.7368 109.434 14.82 109.434 19.443C109.434 20.2299 108.759 20.7955 108.051 20.7955H98.3689C98.5934 22.4941 100.491 23.2167 102.068 23.2167C102.969 23.2167 103.741 23.1542 104.674 22.5244C105.703 21.8321 106.861 22.0212 107.504 22.7439C108.341 23.6895 108.02 25.042 106.925 25.6718ZM104.931 18.0602C104.706 16.267 103.451 15.3874 101.778 15.3874C100.104 15.3874 98.8178 16.2046 98.4328 18.0602H104.931Z" />
        <path d="M123.637 14.1598C123.476 15.2607 122.414 15.7639 121.418 15.7639C121.097 15.7639 120.613 15.7318 120.325 15.7318C117.816 15.7318 116.98 17.6195 116.914 21.2986V24.9153C116.914 26.0162 115.885 26.8655 114.663 26.8655C113.473 26.8655 112.444 25.9841 112.411 24.9153V13.8137C112.444 12.7449 113.473 11.8635 114.663 11.8635C115.885 11.8635 116.914 12.7128 116.914 13.8137V15.4177C117.75 12.6807 119.327 11.7368 120.87 11.7368C122.35 11.7368 123.927 12.083 123.637 14.1598Z" />
        <path d="M132.243 22.7457C133.047 22.7457 133.819 22.5262 134.461 22.18C135.266 21.7393 136.584 21.5502 137.388 22.3371C138.29 23.2185 138.16 24.8225 137.098 25.5451C135.748 26.489 134.042 26.9922 132.241 26.9922C127.931 26.9922 124.005 24.0357 124.005 19.4127V19.3181C124.005 14.6951 127.931 11.7368 132.241 11.7368C134.042 11.7368 135.746 12.24 137.098 13.1838C138.16 13.9083 138.288 15.5123 137.388 16.3919C136.584 17.1788 135.264 16.9897 134.461 16.5489C133.817 16.2028 133.045 15.9833 132.243 15.9833C130.312 15.9833 128.575 17.2733 128.575 19.3181V19.4127C128.577 21.4574 130.314 22.7457 132.243 22.7457Z" />
        <path d="M145.144 24.9171C145.144 26.0179 144.115 26.8673 142.892 26.8673C141.702 26.8673 140.673 25.9858 140.64 24.9171V5.82378C140.673 4.75502 141.702 3.8736 142.892 3.8736C144.115 3.8736 145.144 4.7229 145.144 5.82378V24.9171Z" />
        <path d="M151.239 4.03064C152.751 4.03064 153.972 5.13152 153.972 6.57855C153.972 8.02558 152.75 9.15858 151.239 9.15858C149.726 9.15858 148.439 8.02558 148.439 6.57855C148.439 5.13152 149.726 4.03064 151.239 4.03064ZM153.49 24.9171C153.49 26.018 152.461 26.8673 151.239 26.8673C150.049 26.8673 149.02 25.9859 148.987 24.9171V13.8137C149.02 12.7449 150.049 11.8635 151.239 11.8635C152.461 11.8635 153.49 12.7128 153.49 13.8137V24.9171Z" />
        <path d="M165.441 11.7368C169.269 11.7368 172.744 14.4739 172.744 19.3484C172.744 24.223 169.269 26.9922 165.441 26.9922C163.737 26.9922 161.903 26.175 160.937 24.6334V31.931C160.905 32.9997 159.875 33.8812 158.686 33.8812C157.463 33.8812 156.434 33.0319 156.434 31.931V13.8137C156.434 12.7128 157.463 11.8635 158.686 11.8635C159.875 11.8635 160.905 12.7449 160.937 13.8137V14.0974C162.224 12.1472 164.476 11.7368 165.441 11.7368ZM164.572 15.6693C162.545 15.6693 160.905 17.4304 160.905 19.3805C160.905 21.3307 162.545 23.0918 164.572 23.0918C166.824 23.0918 168.111 21.3307 168.111 19.3805C168.111 17.4304 166.824 15.6693 164.572 15.6693Z" />
        <path d="M15.445 0C6.91596 0 0 6.57497 0 14.6862C0 22.7974 6.91596 29.3723 15.445 29.3723H28.6839C29.9028 29.3723 30.8919 28.4053 30.8919 27.2134V14.6862C30.8919 6.57497 23.9759 0 15.445 0ZM21.2734 14.9502C20.7114 16.6596 19.0307 17.8996 17.0472 17.8996C16.6676 17.8996 16.2972 17.8532 15.945 17.7676C15.3027 18.1869 14.5399 18.4492 13.7133 18.4973C12.9597 19.7945 11.5053 20.6723 9.83562 20.6723C7.3904 20.6723 5.40868 18.79 5.40868 16.4669C5.40868 16.3973 5.4105 16.3277 5.41415 16.2599C4.67511 15.5087 4.22257 14.4988 4.22257 13.3908C4.22257 12.7931 4.35395 12.2257 4.59117 11.71C4.58935 11.6637 4.58935 11.6173 4.58935 11.5691C4.58935 10.0899 5.39226 8.79101 6.60757 8.03984C7.05646 7.19053 7.79915 6.50538 8.70973 6.10392C8.73345 6.07359 8.75717 6.04504 8.78089 6.01471C8.78819 6.00579 8.79549 5.99687 8.80279 5.98795C8.81921 5.96832 8.83746 5.94691 8.85388 5.92728C8.86301 5.91658 8.87213 5.90587 8.88126 5.89695C8.89768 5.87911 8.9141 5.85948 8.93052 5.84164C8.93965 5.83093 8.94877 5.82201 8.95972 5.81131C8.97797 5.79347 8.99622 5.77384 9.01264 5.756C9.02176 5.74707 9.03089 5.73815 9.03819 5.72923C9.06008 5.70604 9.08381 5.68463 9.10753 5.66143C9.11118 5.65786 9.11665 5.65251 9.1203 5.64894C9.14767 5.62218 9.17687 5.5972 9.20424 5.57043C9.21154 5.5633 9.21884 5.55794 9.22797 5.55081C9.24986 5.53296 9.26994 5.51334 9.29183 5.49549C9.30278 5.48657 9.31191 5.47765 9.32285 5.46873C9.34293 5.45267 9.36118 5.43661 9.38125 5.42056C9.3922 5.41163 9.40315 5.40271 9.41409 5.39379C9.43417 5.37773 9.45424 5.36346 9.47431 5.3474C9.48526 5.33848 9.49621 5.33134 9.50716 5.32242C9.53088 5.30458 9.55278 5.28852 9.5765 5.27068C9.5838 5.26533 9.59292 5.25819 9.60022 5.25284C9.63124 5.22964 9.66409 5.20823 9.69511 5.18682C9.70059 5.18325 9.70789 5.17968 9.71336 5.17433C9.73891 5.15649 9.76628 5.14043 9.79183 5.12259C9.80277 5.11545 9.81372 5.10831 9.82467 5.10118C9.84657 5.0869 9.86847 5.07441 9.89036 5.06014C9.90314 5.053 9.91591 5.04586 9.92686 5.03873C9.94876 5.02624 9.97066 5.01375 9.99255 5.00126C10.0053 4.99412 10.0181 4.98698 10.029 4.97985C10.0528 4.96736 10.0765 4.95487 10.1002 4.94059C10.1112 4.93524 10.1221 4.92989 10.1331 4.92275C10.1677 4.90491 10.2024 4.88707 10.2371 4.86922C10.2717 4.85138 10.3082 4.83532 10.3429 4.81926C10.3539 4.81391 10.3648 4.80856 10.3776 4.80499C10.4013 4.79428 10.4269 4.78358 10.4524 4.77287C10.4652 4.76752 10.4798 4.76217 10.4925 4.75681C10.5163 4.74789 10.54 4.73719 10.5637 4.72827C10.5783 4.72291 10.5911 4.71756 10.6057 4.71221C10.6294 4.70329 10.655 4.69437 10.6787 4.68544C10.6914 4.68009 10.7042 4.67652 10.717 4.67117C10.748 4.66047 10.779 4.64976 10.8082 4.64084C10.8155 4.63905 10.8228 4.63549 10.8283 4.6337C10.8666 4.62121 10.9049 4.61051 10.9433 4.59802C10.9542 4.59445 10.9652 4.59266 10.9743 4.5891C11.0017 4.58196 11.0309 4.57304 11.0582 4.5659C11.0728 4.56233 11.0856 4.55876 11.1002 4.55519C11.1257 4.54806 11.1513 4.5427 11.175 4.53735C11.1896 4.53378 11.2042 4.53022 11.2206 4.52665C11.2462 4.52129 11.2717 4.51594 11.2973 4.51059C11.3119 4.50702 11.3265 4.50524 11.3411 4.50167C11.3703 4.49631 11.3995 4.49096 11.4287 4.48561C11.4396 4.48382 11.4506 4.48204 11.4615 4.48026C11.5017 4.47312 11.5418 4.46777 11.5819 4.46063C11.5892 4.45884 11.5984 4.45884 11.6057 4.45706C11.6385 4.45171 11.6714 4.44814 11.7042 4.44457C11.7188 4.44279 11.7334 4.441 11.7462 4.43922C11.7735 4.43565 11.8009 4.43387 11.8265 4.4303C11.8429 4.42851 11.8575 4.42673 11.8739 4.42673C11.8995 4.42494 11.9268 4.42316 11.9524 4.42138C11.9688 4.41959 11.9834 4.41959 11.9998 4.41781C12.029 4.41602 12.0564 4.41602 12.0856 4.41424C12.0984 4.41424 12.113 4.41245 12.1257 4.41245C12.1677 4.41067 12.2097 4.41067 12.2516 4.41067C12.2936 4.41067 12.3338 4.41067 12.3739 4.41245C12.3867 4.41245 12.3995 4.41424 12.4122 4.41424C12.4414 4.41602 12.4688 4.41602 12.4962 4.41781C12.5108 4.41781 12.5254 4.41959 12.54 4.41959C12.5673 4.42138 12.5929 4.42316 12.6203 4.42494C12.6349 4.42673 12.6494 4.42673 12.664 4.42851C12.6914 4.4303 12.7188 4.43387 12.7443 4.43565C12.7571 4.43743 12.7717 4.43922 12.7845 4.43922C12.8137 4.44279 12.8411 4.44636 12.8702 4.44992C12.8812 4.45171 12.8921 4.45349 12.9031 4.45349C12.9359 4.45884 12.9706 4.4642 13.0035 4.46777C13.0089 4.46955 13.0162 4.46955 13.0217 4.47133C13.1038 4.48561 13.1841 4.49988 13.2644 4.51772C13.8191 4.28042 14.4341 4.1466 15.0819 4.1466C16.2005 4.1466 17.2224 4.54092 18.0016 5.19039C18.4468 5.04765 18.9231 4.97093 19.4194 4.97093C21.0325 4.97093 22.4449 5.79168 23.2186 7.01568C24.6237 7.72046 25.5817 9.12109 25.5817 10.7358C25.5836 13.0304 23.6639 14.8896 21.2734 14.9502Z" />
      </svg>
    </a>

    <div class="footer__menu__language__group">
      <svg class="footer__menu__language__group__icon" viewBox="0 0 30 30">
        <path d="M13.599 20.2L14.599 18.8L15.499 18.3L15.299 17.5L13.499 15.8C13.499 15.8 13.399 15.3 12.999 14.9C12.799 14.7 10.699 13.7 9.99902 13.4C9.89902 13.3 9.79902 13.3 9.59902 13.3L8.49902 13.2C8.29902 13.2 8.09902 13.1 7.99902 13L6.39902 11.8C6.29902 11.8 6.29902 11.7 6.19902 11.6L5.09902 10.3C4.79902 9.99998 4.79902 9.49998 5.09902 9.09998L5.39902 8.69998C5.59902 8.59998 5.99902 8.49998 6.39902 8.59998L7.69902 8.99998C7.89902 8.99998 7.99902 9.09998 8.19902 9.19998L9.19902 10.3L10.099 9.69998L10.599 8.19998C10.599 8.09998 10.699 7.99998 10.699 7.99998C10.999 7.59998 11.799 6.39998 12.099 5.79998C12.099 5.79998 13.299 3.69998 10.899 1.79998C10.699 1.59998 10.299 1.59998 9.99902 1.59998C5.59902 2.89998 2.09902 6.59998 1.19902 11.2C1.09902 11.7 1.49902 12.2 1.99902 12.3C2.39902 12.4 2.79902 12.4 2.89902 12.5C2.99902 12.5 2.99902 12.5 3.09902 12.6L4.69902 13.3C5.09902 13.5 5.29902 13.8 5.29902 14.2V15.2L4.29902 16.1L4.19902 18.5C4.19902 18.7 4.29902 18.9 4.39902 19.1L5.49902 20.6C5.59902 20.7 5.59902 20.8 5.69902 20.8L6.69902 21.4C6.99902 21.6 7.09902 21.9 7.09902 22.2C7.09902 22.6 7.09902 23.3 7.09902 23.7C7.09902 24.1 7.29902 24.4 7.59902 24.6C8.19902 24.9 8.79902 25.2 9.39902 25.4C9.79902 25.5 10.299 25.4 10.499 25C10.899 24.4 11.299 23.7 11.299 23.7L13.599 20.2Z" fill="currentColor" />

        <path d="M20.9996 8.5L22.3996 7.1C22.4996 7 22.6996 6.9 22.8996 6.8C23.0996 6.7 23.4996 6.7 23.8996 6.6C24.6996 6.6 24.9996 5.6 24.3996 5C23.3996 4 22.2996 3.1 20.9996 2.5C20.8996 3 20.3996 3.8 20.3996 3.8L18.3996 5C18.1996 5.1 17.9996 5.3 17.9996 5.6L17.6996 6.6C17.5996 6.8 17.6996 7.1 17.7996 7.3L18.1996 8.1C18.2996 8.4 18.5996 8.6 18.8996 8.6L20.0996 8.8C20.4996 8.8 20.7996 8.7 20.9996 8.5Z" fill="currentColor" />

        <path d="M22.2 11.6L20.2 14.7C20.1 14.8 20.1 15 20.1 15.1L20 16.4C20 16.6 20 16.8 20.1 16.9L21.7 19.8C21.9 20.1 22.2 20.3 22.5 20.3L26.1 20.6C26.5 20.6 26.9 20.4 27.1 20C27.6 18.6 28.7 15.2 28.4 13.2C28.3 12.5 28.2 11.8 28 11.1C27.9 10.7 27.4 10.4 27 10.4C25.4 10.5 23.6 11 22.8 11.2C22.5 11.2 22.3 11.4 22.2 11.6Z" fill="currentColor" />

        <path d="M14.4996 28.4C22.1764 28.4 28.3996 22.1767 28.3996 14.5C28.3996 6.82322 22.1764 0.599976 14.4996 0.599976C6.82285 0.599976 0.599609 6.82322 0.599609 14.5C0.599609 22.1767 6.82285 28.4 14.4996 28.4Z" fill="none" stroke="currentColor" stroke-width="1.3643" />
      </svg>

      <span class="footer__menu__language__group__text">
        Country
      </span>

      <select class="footer__menu__language__group__select">
        <option>Switzerland</option>
      </select>
    </div>

    <div class="footer__menu__language__group">
      <svg class="footer__menu__language__group__icon" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.9444 10.5778C13.0067 10.5778 13.0378 10.5778 13.1 10.5467C13.2556 10.4533 13.3178 10.2667 13.2244 10.1111L9.49111 3.26667C9.49111 3.26667 9.49111 3.26667 9.46 3.23556C9.46 3.20444 9.42889 3.20444 9.42889 3.17333C9.42889 3.17333 9.39778 3.14222 9.36667 3.14222C9.36667 3.14222 9.36667 3.14222 9.33556 3.11111H9.30444C9.27333 3.11111 9.27333 3.11111 9.24222 3.08C9.21111 3.08 9.21111 3.08 9.18 3.08C9.14889 3.08 9.14889 3.08 9.11778 3.08C9.08667 3.08 9.08667 3.08 9.05556 3.11111H9.02444C9.02444 3.11111 9.02444 3.11111 8.99333 3.14222L8.96222 3.17333C8.96222 3.17333 8.93111 3.20444 8.93111 3.23556C8.93111 3.23556 8.93111 3.23556 8.9 3.26667L5.16667 10.1111C5.07333 10.2667 5.13556 10.4533 5.29111 10.5467C5.38444 10.5778 5.41556 10.5778 5.47778 10.5778C5.57111 10.5778 5.69556 10.5156 5.75778 10.4222L7.18889 7.77778H11.2333L12.6644 10.4222C12.7267 10.5156 12.8511 10.5778 12.9444 10.5778ZM7.53111 7.15556L9.21111 4.07556L10.8911 7.15556H7.53111ZM26.9444 11.5111H17.9222V1.55556C17.9222 0.684444 17.2378 0 16.3667 0H2.05556C1.18444 0 0.5 0.684444 0.5 1.55556V12.1333C0.5 13.0044 1.18444 13.6889 2.05556 13.6889H3.92222V16.1778C3.92222 16.3022 3.98444 16.4267 4.10889 16.4578C4.14 16.4578 4.20222 16.4889 4.23333 16.4889C4.29556 16.4889 4.38889 16.4578 4.45111 16.3956L7.25111 13.6889H11.0778V23.6444C11.0778 24.5156 11.7622 25.2 12.6333 25.2H21.7489L24.5489 27.9067C24.6111 27.9689 24.7044 28 24.7667 28C24.7978 28 24.86 28 24.8911 27.9689C25.0156 27.9067 25.0778 27.8133 25.0778 27.6889V25.2H26.9444C27.8156 25.2 28.5 24.5156 28.5 23.6444V13.0667C28.5 12.1956 27.8156 11.5111 26.9444 11.5111ZM11.0778 13.0667H7.12667C7.03333 13.0667 6.97111 13.0978 6.90889 13.16L4.54444 15.4311V13.3778C4.54444 13.2222 4.38889 13.0667 4.23333 13.0667H2.05556C1.52667 13.0667 1.12222 12.6311 1.12222 12.1333V1.55556C1.12222 1.02667 1.52667 0.622222 2.05556 0.622222H16.3667C16.8956 0.622222 17.3 1.02667 17.3 1.55556V11.5111H12.6333C11.7622 11.5111 11.0778 12.1956 11.0778 13.0667ZM27.8778 23.6444C27.8778 24.1422 27.4733 24.5778 26.9444 24.5778H24.7667C24.6111 24.5778 24.4556 24.7333 24.4556 24.8889V26.9422L22.0911 24.64C22.0289 24.6089 21.9667 24.5778 21.8733 24.5778H12.6333C12.1044 24.5778 11.7 24.1422 11.7 23.6444V13.0667C11.7 12.5378 12.1044 12.1333 12.6333 12.1333H26.9444C27.4733 12.1333 27.8778 12.5378 27.8778 13.0667V23.6444ZM23.5222 16.1778H20.1V14.9333C20.1 14.7778 19.9444 14.6222 19.7889 14.6222C19.6333 14.6222 19.4778 14.7778 19.4778 14.9333V16.1778H16.0556C15.9 16.1778 15.7444 16.3333 15.7444 16.4889C15.7444 16.6444 15.9 16.8 16.0556 16.8H18.14C18.2333 17.3289 18.5444 18.48 19.3844 19.6311C18.7 20.3778 17.7044 21.0933 16.2733 21.4978C16.1178 21.5289 16.0244 21.7156 16.0556 21.8711C16.0867 21.9956 16.2111 22.0889 16.3667 22.0889C16.3978 22.0889 16.4289 22.0889 16.46 22.0889C17.9844 21.6533 19.0422 20.9067 19.7889 20.0978C20.5356 20.9067 21.5933 21.6533 23.1178 22.0889C23.1489 22.0889 23.18 22.0889 23.2111 22.0889C23.3356 22.0889 23.46 21.9956 23.5222 21.8711C23.5533 21.7156 23.46 21.5289 23.3044 21.4978C21.8422 21.0933 20.8778 20.3778 20.1933 19.6311C21.0333 18.48 21.3444 17.3289 21.4378 16.8H23.5222C23.6778 16.8 23.8333 16.6444 23.8333 16.4889C23.8333 16.3333 23.6778 16.1778 23.5222 16.1778ZM19.7889 19.1333C19.1356 18.2 18.8556 17.2978 18.7933 16.8H20.8156C20.7222 17.2667 20.4422 18.2 19.7889 19.1333Z" fill="currentColor" />
      </svg>

      <span class="footer__menu__language__group__text">
        Language
      </span>

      <select class="footer__menu__language__group__select footer__menu__language__group__select--locales">
        {% for locale in locales %}
          <option value="{{ locale.url }}" {{ function('pll_current_language', 'name') == locale.name ? 'selected' : '' }}>{{ locale.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
</div>
