<section class="industries__archive">
  <div class="industries__archive__wrapper">
    <div class="industries__archive__list">
      {% for article in post.get_field('industries_list') %}
        <article class="industries__archive__case">
          <div class="industries__archive__case__media">
            <img class="industries__archive__case__image" src="{{ article.image }}">
          </div>

          <div class="industries__archive__case__content">
            <p class="industries__archive__case__description">
              {{ article.description }}
            </p>

            <a class="industries__archive__case__link" href="{{ article.link.url }}">
              {{ article.link.title }}
            </a>
          </div>
        </article>
      {% endfor %}
    </div>

    <a class="industries__archive__button" href="{{ post.get_field('industries_button').url }}">
      {{ post.get_field('industries_button').title }}
    </a>
  </div>
</section>
