<section class="industries__list">
  <div class="industries__list__wrapper">
    {% for industry in post.get_field('industries_list') %}
      <article class="industries__list__article">
        <p class="industries__list__article__label">
          {{ industry.label }}
        </p>

        <figure class="industries__list__article__media">
          <img class="industries__list__article__media__image" data-src="{{ industry.image }}">
        </figure>

        <div class="industries__list__article__content">
          <h3 class="industries__list__article__title">
            {{ industry.title }}
          </h3>

          {{ industry.description }}

          <footer class="industries__list__article__footer">
            <a class="industries__list__article__link" href="{{ industry.link.url }}">
              {{ industry.link.title }}
            </a>
          </footer>
        </div>
      </article>
    {% endfor %}
  </div>
</section>
