<section class="clients__highlights">
  <div class="clients__highlights__wrapper">
    <div class="clients__highlights__list">
      {% for item in post.get_field('highlights_list') %}
        {% if (isDesktop or isTablet) and loop.index == 5 %}
          <div class="clients__highlights__item">
            <p class="clients__highlights__title">
              {{ post.get_field('highlights_title') }}
            </p>
          </div>
        {% endif %}

        <article class="clients__highlights__item">
          <div class="clients__highlights__item__wrapper">
            <div class="clients__highlights__item__media">
              <figure>
                <img class="clients__highlights__item__media__image" data-src="{{ item.image }}">
              </figure>

              <h2 class="clients__highlights__item__title">
                <span class="clients__highlights__item__title__text">
                  {{ item.title }}
                </span>
              </h2>
            </div>

            <div class="clients__highlights__item__content">
              <button class="clients__highlights__item__close">
                Close
              </button>

              <p class="clients__highlights__item__description">
                {{ item.description }}
              </p>

              <a class="clients__highlights__item__link" href="{{ item.link.url }}">
                <span class="clients__highlights__item__link__text">
                  {{ item.link.title }}
                </span>

                <svg class="clients__highlights__item__link__arrow" viewBox="0 0 22 15" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 7.5H20.5M20.5 7.5L14 1M20.5 7.5L14 14" stroke="#17238F"/>
                </svg>
              </a>
            </div>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
</section>
