<div class="clients__testimonials">
  <div class="clients__testimonials__box">
    <div class="clients__testimonials__wrapper">
      {% for testimonial in post.get_field('testimonials_list') %}
        <article class="clients__testimonial">
          <div class="clients__testimonial__wrapper">
            <figure class="clients__testimonial__media">
              <img class="clients__testimonial__media__image" data-src="{{ testimonial.image }}">
            </figure>

            <div class="clients__testimonial__content">
              <p class="clients__testimonial__description">
                {{ testimonial.description }}
              </p>

              <div class="clients__testimonial__author">
                <p class="clients__testimonial__author__column">
                  <strong class="clients__testimonial__author__title">
                    {{ testimonial.author }}
                  </strong>

                  <span class="clients__testimonial__author__description">
                    {{ testimonial.role }}
                  </span>
                </p>

                <div class="clients__testimonial__author__column">
                  <img class="clients__testimonial__author__image" data-src="{{ testimonial.company }}">
                </div>
              </div>
            </div>
          </div>
        </article>
      {% endfor %}
    </div>

    <div class="clients__testimonials__navigation">
      <button class="clients__testimonials__navigation__button clients__testimonials__navigation__button--previous">
        Previous
      </button>

      <button class="clients__testimonials__navigation__button clients__testimonials__navigation__button--next">
        Next
      </button>
    </div>

    <div class="clients__testimonials__pagination">
      {% for testimonial in post.get_field('testimonials_list') %}
        <button class="clients__testimonials__pagination__button" data-index="{{ loop.index0 }}">
          {{ loop.index0 }}
        </button>
      {% endfor %}
    </div>
  </div>
</div>
