<section class="home__complexity">
  <div class="home__complexity__wrapper">
    <div class="home__complexity__columns">
      <div class="home__complexity__column">
        <h2 class="home__complexity__title">
          {{ post.get_field('complexity_title') }}
        </h2>

        <p class="home__complexity__description">
          {{ post.get_field('complexity_description') }}
        </p>

        <a class="home__complexity__button" href="{{ post.get_field('complexity_button').url }}">
          <div class="home__complexity__button__background"></div>

          <div class="home__complexity__button__box">
            {{ post.get_field('complexity_button').title }}
          </div>
        </a>
      </div>

      <div class="home__complexity__column">
        <article class="home__complexity__case">
          <div class="home__complexity__case__media">
            <video data-plyr-config='{"controls": ["play-large", "play", "progress", "pip", "fullscreen"]}' poster="{{ post.get_field('complexity_case_image') | resize(1100) }}" class="js-player home__complexity__case__image" playsinline>
             <source src="{{ post.get_field('complexity_case_html5_video') }}" type="video/mp4" />
            </video>
          </div>

          <div class="home__complexity__case__content">
            <p class="home__complexity__case__description">
              {{ post.get_field('complexity_case_description') }}
            </p>

            <a class="home__complexity__case__link" href="{{ post.get_field('complexity_case_link').url }}">
              {{ post.get_field('complexity_case_link').title }}
            </a>
          </div>
        </article>
      </div>
    </div>
  </div>
</section>
