{% if isDesktop or isTablet %}
  <section class="home__industries">
    <div class="home__industries__wrapper">
      <h2 class="home__industries__title">
        {{ post.get_field('industries_title') }}
      </h2>

      <div class="home__industries__list">
        {% for industry in post.get_field('industries_list') %}
          <article class="home__industries__article" data-animation='{{ industry.animated_icon_json }}'>
            <a class="home__industries__link" href="{{ industry.link }}">
              <img class="home__industries__article__image" data-src="{{ industry.image }}">
              <!--<div class="home__industries__article__image"></div>-->

              <div class="home__industries__article__box">
                <h3 class="home__industries__article__title">
                  {{ industry.title }}
                </h3>

                <p class="home__industries__article__description">
                  {{ industry.description }}
                </p>
              </div>
            </a>
          </article>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
