<aside class="service__aside__blog">
  <div class="service__aside__blog__wrapper">
    <div class="service__aside__blog__column">
      <div class="service__aside__blog__box">
        <h2 class="service__aside__blog__title">
          {{ post.get_field('aside_blog_title') }}
        </h2>

        <p class="service__aside__blog__description">
          {{ post.get_field('aside_blog_description') }}
        </p>

        <a class="service__aside__blog__button" href="{{ post.get_field('aside_blog_button').url }}">
          <div class="service__aside__blog__button__background"></div>

          <div class="service__aside__blog__button__box">
            {{ post.get_field('aside_blog_button').title }}
          </div>
        </a>
      </div>
    </div>

    <div class="service__aside__blog__column">
      <div class="service__aside__blog__media" data-product-media>
        <img class="service__aside__blog__media__image" data-src="{{ post.get_field('aside_blog_image') | resize(1366) }}">
      </div>
    </div>
  </div>
</aside>
