<section class="service__fields">
  <div class="service__fields__wrapper">
  
    <header class="service__fields__header">
      <h2 class="service__fields__title">
        {{ post.get_field('fields_title') }}
      </h2>
    </header>

    <div class="service__fields__list">
      {% for item in post.get_field('fields_list') %}
        <article class="service__fields__item">
          {% if not (item.link.url == '#') %}
            <a class="service__fields__item__wrapper" href="{{ item.link.url }}">
          {% else %}
            <div class="service__fields__item__wrapper">
          {% endif %}
            <div class="service__fields__item__box">
              <img class="service__fields__item__image" data-src="{{ item.image }}">

              <div class="service__fields__item__content">
                <h2 class="service__fields__item__title" data-height=".service__fields__item__title">
                  {{ item.title }}
                </h2>

                <p class="service__fields__item__description" data-height=".service__fields__item__description">
                  {{ item.description }}
                </p>

                <div class="service__fields__item__link">
                  <span class="service__fields__item__link__text">
                    {{ item.link.title }}
                  </span>

                  {% if not (item.link.url == '#') %}
                    <svg class="service__fields__item__link__arrow" viewBox="0 0 22 15" xmlns="http://www.w3.org/2000/svg">
                      <path d="M0 7.5H20.5M20.5 7.5L14 1M20.5 7.5L14 14" stroke="#17238F"/>
                    </svg>
                  {% endif %}

                </div>
              </div>
            </div>
          {% if not (item.link.url == '#') %}
            </a>
          {% else %}
            </div>
          {% endif %}
        </article>
      {% endfor %}
    </div>
  </div>
</section>