<header class="service__header">
  <div class="service__header__background"></div>

  <div class="service__header__wrapper">
    <h1 class="service__header__title">
      {{ post.title }}
    </h1>

    <p class="service__header__description">
      {{ post.content | striptags }}
    </p>

    {% if post.get_field('intro_button') %}
        <a class="service__header__button" href="{{ post.get_field('intro_button').link }}">
          <div class="service__header__button__background"></div>
          <div class="service__header__button__box">
            {{post.get_field('intro_button').title}}
          </div>
        </a>
    {% endif %}

    <figure class="service__header__media">
      <img class="service__header__media__image" data-src="{{ post.thumbnail.src | resize(1366) }}">

      {% if post.get_field('header_vimeo') %}
        <button class="service__header__media__button" data-embed-video="{{ post.get_field('header_vimeo') }}">
          Play
        </button>
      {% endif %}
    </figure>
  </div>
</header>
