<aside class="service__aside__newsletter">
  <div class="service__aside__newsletter__wrapper">
    <div class="service__aside__newsletter__columns">
      <!--
      <div class="service__aside__newsletter__column">
        <img data-src="{{ post.get_field('aside_newsletter_image') }}" class="service__aside__newsletter__media">
      </div>
      -->
     <div class="service__aside__newsletter__column">
        <span class="service__aside__newsletter__title">
          {{ post.get_field('aside_newsletter_title') }}
        </span>
      </div>

      <div class="service__aside__newsletter__column">
        <form
          class="service__aside__newsletter__form"
          data-id="11081"
          data-success-title="{{ option[locale ~ '_form_newsletter_messages'].success_title }}"
          data-success-description="{{ option[locale ~ '_form_newsletter_messages'].success_description }}"
          data-error-title="{{ option[locale ~ '_form_newsletter_messages'].error_title }}"
          data-error-description="{{ option[locale ~ '_form_newsletter_messages'].error_description }}"
        >
          <!-- Fields filled by FormFiller.js class -->
          <input class="submission-value__language" name="language" type="hidden" value="">
          <input class="submission-value__country" name="country" type="hidden" value="">
          <input class="submission-value__referrer" name="referrer" type="hidden" value="">
          <input class="submission-value__utm_source" name="utm_source" type="hidden" value="">
          <input class="submission-value__utm_medium" name="utm_medium" type="hidden" value="">
          <input class="submission-value__utm_campaign" name="utm_campaign" type="hidden" value="">
          <input class="submission-value__utm_content" name="utm_content" type="hidden" value="">
          <input class="submission-value__utm_term" name="utm_term" type="hidden" value="">

          <input class="service__aside__newsletter__input" name="first-name" placeholder="{{ post.get_field('aside_newsletter_first-name') }}">
          <input class="service__aside__newsletter__input" name="last-name" placeholder="{{ post.get_field('aside_newsletter_last-name') }}">
          <input class="service__aside__newsletter__input" name="email" placeholder="{{ post.get_field('aside_newsletter_email') }}" type="email">

          <div class="service__aside__newsletter__row">
            <label class="service__aside__newsletter__label">
              <input class="service__aside__newsletter__radio" name="gender" type="radio" value="M">
              <span class="service__aside__newsletter__radio__bullet"></span>
              <span class="service__aside__newsletter__radio__text">
                {% if locale == 'en' %}
                    Mr
                {% elseif locale == 'fr' %}
                    M
                {% elseif locale == 'de' %}
                    Herr
                {% endif %}
              </span>
            </label>
            <label class="service__aside__newsletter__label">
              <input class="service__aside__newsletter__radio" name="gender" type="radio" value="F">
              <span class="service__aside__newsletter__radio__bullet"></span>
              <span class="service__aside__newsletter__radio__text">
                {% if locale == 'en' %}
                    Mrs
                {% elseif locale == 'fr' %}
                    Mme
                {% elseif locale == 'de' %}
                    Frau
                {% endif %}
              </span>
            </label>
          </div>

          <button class="service__aside__newsletter__button">
            <div class="service__aside__newsletter__button__background"></div>

            <div class="service__aside__newsletter__button__box">
              {{ post.get_field('aside_newsletter_button') }}
            </div>
          </button>
        </form>
      </div>
    </div>
  </div>
</aside>
