<section class="service__questions">
  <div class="service__questions__wrapper">
    <h2 class="service__questions__title">
      {{ post.get_field('questions_title') }}
    </h2>

    <div class="service__questions__articles">
      {% for question in post.get_field('questions_list') %}
        <article class="service__questions__article">
          <h3 class="service__questions__article__title">
            {{ loop.index}}. {{ question.post.get_field('videos_title') }}

            <span class="service__questions__article__title__arrow"></span>
          </h3>

          <div class="service__questions__article__content">
            <div class="service__questions__article__content__wrapper">
              <div class="service__questions__article__description">
                {{ question.post.get_field('videos_description') }}
              </div>

              <a class="service__questions__article__link" href="{{ question.post.link }}">
                {{ option[locale ~ '_read_more'] }}
              </a>
            </div>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
</section>
